HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### application.yml ###
application.yml
/mvnw
/mvnw.cmd
.mvn/
common/common_until/src/main/resources/
common/common_until/src/test/
common/service_base/src/main/resources/
common/service_base/src/test/
mvnw
mvnw.cmd
service/service-oss/src/test/
/edu_parent.iml
/service/service-oss/service-oss.iml
/HELP.md
